<h1>Home</h1>

<h1>All users</h1>

<%= @users.count %> users in the databases

<h1>All posts </h1>
<%= @posts.count %> posts in the databases

<h1>All categories </h1>
<%= @categories.count %> categories in the databases

